<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td>
        <%= f.radio_buttons :state, @item.states, :class => 'status' %>
    </td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :account %></th>
    <td><%= f.text_field :account, :class => 'id' %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :password %></th>
    <td><%= f.text_field :password, :class => 'id' %></td>
  </tr>
  <tr>
    <th><%= f.label :in_group_id %></th>
    <td><%= f.select :in_group_id, @content.groups_for_option, include_blank: true %></td>
  </tr>
</table>

<%= creator_form f %>
