<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :account %></th>
    <td><%= @item.account %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :password %></th>
    <td><%= @item.password %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :in_group_id %></th>
    <td><%= @item.group.try!(:title) %></td>
  </tr>
</table>


<%= creator_view @item %>